<html>

<head>
    <meta charset="utf-8">
    <title>Ludos test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./src/images/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='materialize.min.css') }}"/>
</head>

<body>
<div id="app"></div>
</body>

<script src="dist/bundle.js"></script>
</html>